@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

h1{
    font-family: 'Comfortaa', cursive;
}
.first_block{
    display: flex;
    font-family: 'Comfortaa', cursive;
}
.second_block{
    margin-left: 20px;
}
.third_block{
    margin-top: 20px;
}

.third_block span{
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
}

input[type="date"]{
    width: 200px;
    height: 50px;
    opacity: 0.8;
    border: 2px solid #959595;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Comfortaa', cursive;
    text-align: center;
}
input[type="date"]:hover{
    color: #7cc9f0;
    background-color: white;
}

.add_in_list:hover{
    background-color: white;
}

.add_in_list:active{
    background-color: rgb(139, 139, 172);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.add_in_list{
    width: 200px;
    height: 35px;
    opacity: 0.8;
    border: 2px solid #959595;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Comfortaa', cursive;
    text-align: left;
    padding-left: 15px;
    text-align: center;
}

input[type="text"]{
    width: 200px;
    height: 50px;
    opacity: 0.8;
    border: 2px solid #959595;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Comfortaa', cursive;
    text-align: left;
    padding-left: 15px;
}

input[type="number"]{
    width: 200px;
    height: 35px;
    opacity: 0.8;
    border: 2px solid #959595;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Comfortaa', cursive;
    text-align: left;
    padding-left: 15px;
    text-align: left;
}

.comun select{
    width: auto;
    height: 50px;
    margin-left: 10px;
    opacity: 0.8;
    border: 2px solid #959595;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Comfortaa', cursive;
    text-align: left;
    color: rgb(2, 2, 2);
    padding-left: 15px;
}

.money span{
    font-family: 'Comfortaa', cursive;  
    margin-right: 10px;
    font-weight: bold;
}

.english_block p{
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}

.english_block label{
    font-family: 'Comfortaa', cursive;  
}

.criteria label{
    font-family: 'Comfortaa', cursive;
}

.criteria p{
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.english_block{
    display: inline-block;
}
.main_skill{
    margin-top: 20px;
}
.add_in_list{
    margin-left: 20px;
}
.comun{
    margin-top: 25px;
}

.comun span{
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}

.money{
    margin-top: 20px;
}
.criteria{
    display: inline-block;
}
.courses{
    margin-top: 20px;
}

.main_skill span{
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}

.main_skill li{
    font-family: 'Comfortaa', cursive;
}

.courses table{
    border: 2px solid #cacaca;
    border-collapse: collapse;
    padding: 15px;
    font-family: 'Comfortaa', cursive;
    margin-top: 5px;
}

.courses th{
    padding: 10px;
    background-color: #dcdcdc;
    font-family: 'Comfortaa', cursive;
}

.courses td{
    padding: 10px;
    font-family: 'Comfortaa', cursive;
}

.courses span{
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}