@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
h1{
    font-family: 'Oswald', sans-serif;
}
.first_block{
    display: flex;
    font-family: 'Oswald', sans-serif;
}
.second_block{
    margin-left: 20px;
}
.third_block{
    margin-top: 20px;
}

.third_block span{
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
}

input[type="radio"]{
    
}

input[type="date"]{
    width: 200px;
    height: 50px;
    opacity: 0.8;
    border: 2px solid #959595;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Comfortaa', cursive;
    text-align: center;
    color: rgb(2, 2, 2);
}
input[type="date"]:hover{
    color: #7cc9f0;
    background-color: white;
}

.add_in_list:hover{
    background-color: white;
}

.add_in_list:active{
    background-color: rgb(139, 139, 172);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.add_in_list{
    width: 200px;
    height: 35px;
    opacity: 0.8;
    border: 2px solid #959595;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Comfortaa', cursive;
    text-align: left;
    color: rgb(2, 2, 2);
    padding-left: 15px;
    text-align: center;
}

input[type="text"]{
    width: 200px;
    height: 50px;
    opacity: 0.8;
    border: 2px solid #959595;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Comfortaa', cursive;
    text-align: left;
    color: rgb(2, 2, 2);
    padding-left: 15px;
}

.english_block p{
    font-family: 'Comfortaa', cursive;
}

.english_block label{
    font-family: 'Comfortaa', cursive;  
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.english_block{
    display: inline-block;
}
.main_skill{
    margin-top: 20px;
}
.add_in_list{
    margin-left: 20px;
}
.conication{
    margin-top: 25px;
}
.money{
    margin-top: 20px;
}
.criteria{
    display: inline-block;
}
.courses{
    margin-top: 20px;
}

.main_skill span{
    font-family: 'Comfortaa', cursive;
}

.main_skill li{
    font-family: 'Comfortaa', cursive;
}